/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* Importing CSS files for various sections of the website */
@import url("/cascadingStyleSheets/sections/header.css");
@import url("/cascadingStyleSheets/sections/hero.css");
@import url("/cascadingStyleSheets/sections/about.css");
@import url("/cascadingStyleSheets/sections/popular.css");
@import url("/cascadingStyleSheets/sections/trending.css");
@import url("/cascadingStyleSheets/sections/subscribe.css");
@import url("/cascadingStyleSheets/sections/footer.css");

/* Defining CSS variables for consistent styling across the website */
:root {
  --playfair-display: "Playfair Display", serif; /* Font for headings and decorative texts */
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif; /* Font for body and informational texts */

  /* Color scheme variables */
  --primary-color: #b1454a; /* Primary brand color */
  --secondary-color: #121212; /* Secondary color for contrast */

  /* Shades of black and gray for text and backgrounds */
  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  /* Commonly used colors */
  --color-white: #fff; /* White color for text and backgrounds */
  --color-creamson: #fff0de; /* Light creamy color for backgrounds */
}

/* Base element styles for consistency */
* {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Border box model for width and height */
  scroll-behavior: smooth; /* Smooth scrolling effect */
}

/* Body element styling */
body {
  max-width: 100vw; /* Maximum width of the body content */
  margin: 0 auto; /* Center the content */
  background-color: var(--color-creamson); /* Background color */
}

/* Anchor tag styling */
a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent elements */
}

/* Utility classes for flexbox layouts */
.flex-center {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.flex-between {
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Space out items */
  align-items: center; /* Align items vertically */
}

/* Sushi section specific styles */
.sushi__subtitle,
.sushi__title,
.sushi__description {
  /* Common styling for sushi section texts */
  font-family: var(--plus-jakarta-sans); /* Font family */
  color: var(--secondary-color); /* Text color */
  opacity: 0.8; /* Slightly transparent text */
  letter-spacing: -0.01em; /* Adjust letter spacing */
}

.sushi__subtitle {
  font-size: 18px; /* Font size for subtitle */
  font-weight: 400; /* Font weight for subtitle */
}

.sushi__title {
  font-size: 64px; /* Font size for title */
  font-weight: 600; /* Font weight for title */
  margin-top: 16px; /* Top margin for title */
}

.sushi__description {
  font-size: 18px; /* Font size for description */
  font-weight: 400; /* Font weight for description */
  line-height: 36px; /* Line height for description */
  margin: 32px 0px; /* Top and bottom margin for description */
}

/* Scrollbar hiding for different browsers */
.sushi__hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.sushi__hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Media Queries for responsive design */
/* Adjustments for about us section on different screen sizes */
/* START: trending media queries */
@media screen and (max-width: 1024px) {
  .trending-sushi {
    flex-direction: column;
  }

  .trending-drink {
    flex-direction: column-reverse;
  }

  .trending__image {
    width: 100%;
    background-size: cover;
  }

  .trending__discover {
    display: none;
  }

  .trending__arrow {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .trending__image img {
    width: 70%;
    height: 70%;
  }

  .trending__content {
    padding: 32px;
  }
}
/* END: trending media queries */
